<% provide(:title, 'Forex Signals') %>
<!-- 960 Container -->
<div class="container floated">

	<!-- Page Content -->
	<div class="eighteen floated">
		<div class="shop-page page-content">

			<div class="six columns">
				<section class="flexslider shop">
					<ul class="slides">
						<li><%= image_tag("forex_signals.jpg") %></li>
					</ul>
				</section>
			</div>

			<div class="six columns">
				<div class="product-info">
					<h3 class="title">Forex Signals</h3>
					<span class="price">Starting at $<%= @plans.first.price %>/month</span>
					<p>Etiam lobortis dolor eros sed lorem sodales imperdiet dapibus. Maecenas faucibus urna sed turpis lacinia consectetur. Mauris dolor bibendum nibh consectetuer.</p>
					
					<%= form_tag new_subscription_path, method: "get" do %>
						<%= select_tag 'plan', options_from_collection_for_select(@plans, :id, :name_with_price) %>
						<%= submit_tag("Subscribe") %>
					<% end %>
					
					<div class="clearfix"></div>

				</div>
			</div>
			
			<div class="clearfix"></div>
			<br />
			
			<div class="eleven columns">
				<!-- Tabs Navigation -->
				<ul class="tabs-nav">
					<li class="active"><a href="#tab1">Description</a></li>
					<li><a href="#tab2">Additional Information</a></li>
				</ul>

				<!-- Tabs Content -->
				<div class="tabs-container">
					<div class="tab-content" id="tab1">
						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>

						<p>
						<ul class="check-list">
							<li>Justo duo dolores et ea rebum</li>
							<li>Duis autem vel eum iriure dolor</li>
							<li>Stet clita kasd gubergren</li>
						</ul>
						</p>

						In hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.

					</div>

					<div class="tab-content" id="tab2">
						<table class="standard-table shop">

							<tr>
								<th>Length</th>
								<td>18cm</td>
							</tr>

							<tr>
								<th>Width</th>
								<td>13cm</td>
							</tr>

							<tr>
								<th>Height</th>
								<td>12cm</td>
							</tr>
							
							<tr>
								<th>Color</th>
								<td>Black</td>
							</tr>
							
							<tr>
								<th>Multiselect Attributes</th>
								<td>Camera Lenses, SRL Cameras</td>
							</tr>

						</table>
					</div>

				</div>
			</div>

			<div class="clearfix"></div>
	
		</div>
	</div>
	<!-- Page Content / End -->

</div>
<!-- 960 Container / End -->

</div>
<!-- Content / End -->

</div>
<!-- Wrapper / End -->