<% provide(:title, "Subscribe") %>
  <div class="container floated">
    <div class="sixteen floated">
      <div class="page-content">
        
        <%= hidden_field :subscription, :paypal_customer_token %>
        <%= hidden_field :subscription, :paypal_payment_token %>
        <% if @subscription.paypal_payment_token.present? %>
          <h2>Thank you for subscribing!</h2>
          <h4>Plan: </h4><%= @plan.name %>
          <h4>Price: </h4><%= @plan.currency_symbol + @plan.price.to_s + " " + @plan.interval%>
          <h4>Next Billing Date: </h4> <%= Time.now + (@plan.duration).month %>
        <% else %>
          <div id="subscribe">    
            <h2>High Performance Forex Signalling Service</h2>
            <div class="value"><h4>Plan: </h4><%= @plan.name %></div>
            <div class="value"><h4>Price: </h4><%= @plan.currency_symbol + @plan.price.to_s + " " + @plan.interval%></div>
            <div id="paypal_checkout" >
              <%= link_to image_tag("https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"), paypal_checkout_path(:plan_id => @subscription.plan_id), :class => "load_spinner" %>
            </div>
            <div class="loader">Loading...</div>
          </div>
        <% end %>
        
    </div>
  </div>
</div>