<% provide(:title, "Your Subscription") %>
<div class="page-content">
  <div class="container">
    <div class="sixteen columns">
      <h3 class="margin-reset">Subscription Details</h3><br />
        <table class="standard-table">

          <tr>
            <th>Plan Type</th>
            <th>Price</th>
            <th>Next Billing Date</th>
            <th>Expires on</th>
            <th>Status</th>
          </tr>

          <tr>
            <td><%= @subscription.plan.name %></td>
            <td><%= @subscription.plan.currency_symbol + @subscription.plan.price.to_s %></td>
            <td><%= @subscription.next_billing_date ? @subscription.next_billing_date : "N/A" %></td>
            <td><%= @subscription.expires ? @subscription.expires : "N/A" %> </td>
            <td><%= @subscription.status %></td>
          </tr>

			  </table>

        <%= link_to "Change Your Plan", subscription_path, :class => "button color" %>
        <% if @subscription.Active? %> <%= link_to "Cancel Your Subscription", unsubscribe_path, :class => "button light" %> <% end %>
        
    </div>
  </div>
</div>