<!-- Header
================================================== -->
<div id="top-line"></div>

<!-- 960 Container -->
<div class="container">

	<!-- Header -->
	<header id="header">

		<!-- Logo -->
		<div class="ten columns">
			<div id="logo">
				<h1>
					<%= link_to image_tag("fxlogo.png", id: "fx-logo", alt: "FX-SignalProvider"), static_page_path("home") %>
				</h1>
				<div id="tagline">Trade less. Win big.</div>
				<div class="clearfix"></div>
			</div>
		</div>

		<!-- Social / Contact -->
		<div class="six columns">

			<!-- Social Icons -->
			<ul class="social-icons">
				<li class="twitter"><a href="#">Twitter</a></li>
				<li class="facebook"><a href="#">Facebook</a></li>
			</ul>

			<div class="clearfix"></div>

			<!-- Contact Details -->
			<div class="contact-details">Phone: +48 880 440 110</div>
			<div class="clearfix"></div>
			<div class="contact-details">Email: <%= mail_to "support@fx-signalprovider.com" %></div>

		</div>
	</header>
	<!-- Header / End -->

	<div class="clearfix"></div>

</div>
<!-- 960 Container / End -->


<!-- Navigation
================================================== -->
<nav id="navigation" class="style-1">

<div class="left-corner"></div>
<div class="right-corner"></div>

<ul class="menu" id="responsive">
	<li>
		<%= link_to static_page_path('home'), :id => current_class?(static_page_path('home')) do %>
			<i class="halflings white home"></i>Home
		<% end %>
	</li>
	
	<li>
		<%= link_to static_page_path('about'), :id => current_class?(static_page_path('about')) do %>
			<i class="halflings white info-sign"></i>About Us
		<% end %>
	</li>

	<li>
		<%= link_to static_page_path('videos'), :id => current_class?(static_page_path('videos')) do %>
			<i class="halflings white facetime-video"></i>Videos
		<% end %>
	</li>
	
	<li>
		<%= link_to static_page_path('services'), :id => current_class?(static_page_path('services')) do %>
			<i class="halflings white shopping-cart"></i>Services
		<% end %>
	</li>

<!--
	<li>
		<%= link_to static_page_path('articles'), :id => current_class?(static_page_path('articles')) do %>
			<i class="halflings white pencil"></i>Articles
		<% end %>
	</li>

	<li>
		<%= link_to static_page_path('technical'), :id => current_class?(static_page_path('technical')) do %>
			<i class="halflings white file"></i>Technical Analysis
		<% end %>
	</li>
-->

	<% if user_signed_in? %>
		<li class="float-r">
		<a href="#">Profile</a>
		<ul>
			<li>
				<%= link_to "Edit Profile", edit_user_registration_path %>
			</li>
			<li>
				<%= link_to "Subscription", subscription_path %>
			</li>
			<li>
				<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
			</li>
		</ul>
		</li>
		<% else %>
		<li class="float-r">
			<%= link_to "Sign In", new_user_session_path %>
		</li>
	<% end %>

</ul>
</nav>
<div class="clearfix"></div>

<!-- 960 Container -->
<div class="container floated">

	<div class="sixteen floated page-title">

		<h2><%= yield(:title) %></h2>

		<nav id="breadcrumbs">
			<ul>
				<li>You are here:</li>
				<li><%= link_to "Home", static_page_path("home") %></li>
				<li><%= yield(:title) %></li>
			</ul>
		</nav>

	</div>

</div>
<!-- 960 Container / End -->