<!DOCTYPE html>
<html lang="en">
    <head>
		<%= csrf_meta_tags %>
			<title>Fx-Signalprovider | Welcome</title>
			<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
			<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    </head>
    <body>
    <div id="wrapper">
        <div id="top-line"></div>

        <!-- 960 Container -->
        <div class="container">
            <!-- Header -->
            <header id="header">

                <!-- Social / Contact -->
                <div class="sixteen columns">

                    <!-- Social Icons -->
                    <ul class="social-icons">
                        <li class="twitter"><a href="#">Twitter</a></li>
                        <li class="facebook"><a href="#">Facebook</a></li>
                    </ul>

                    <div class="clearfix"></div>

                    <!-- Contact Details -->
                    <div class="contact-details">Contact Phone: Todo</div>

                    <div class="clearfix"></div>

                </div>
            </header>
            <!-- Header / End -->

            <div class="clearfix"></div>

        </div>
        <!-- 960 Container / End -->

        <div class="clearfix"></div>
        <div class="container">
        <!-- Logo -->
        <div class="sixteen columns">
            <div id="logo">
                <h1><a href="#"><%= image_tag("fxlogo.png", id: "fx-logo", alt: "FX-SignalProvider") %></a></h1>
                <div id="tagline">Trade less. Win big.</div>
                <div class="clearfix"></div>
            </div>
        </div>
        <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
        <%= yield %>
        <%= debug(params) if Rails.env.development? %>
        </div>
    </div>
    <%= render 'layouts/footer' %>
    </body>
</html>